@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-font/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-font/Rubik-Medium.ttf');
}

/* view web 992 */
@media (min-width: 576px) {
  body {
    /* position: relative; */
    height: 500px;
    background: #FFFFFF;
    border-radius: 20px;
    /* background: #EDEDED !important; */
    font-family: 'Rubik';
  }

  input.inputBorder,
  textarea.inputBorder {
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
    border-bottom: 2px solid black;
  }

  input.contacBorder {
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
    border-bottom: 1px solid black;
    font-size: 20px;
  }

  /* navbar */
  .navbar.navbar-expand-lg {
    background: #fff;
    height: 100px;
    border-bottom: 1px solid #eee;
  }

  .navbar-brand {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #0B132A;
  }

  .navbar-brand:hover {
    color: #6A4029;
  }

  img.img-navbar {
    width: 30px;
    margin-right: 10px;
  }

  .navigasi {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    color: #4F5665;
    margin-right: 20px;
  }

  .navigasi:hover {
    color: #fc5800;
  }

  .navigasi.active {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    color: #6A4029;
  }

  button.bt-login {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #0B132A;
  }

  button.bt-login:hover {
    text-decoration: none;
    color: #6A4029;
  }

  button.bt-signup {
    font-weight: 500;
    padding: 8px 30px;
    border-radius: 50px;
  }

  /* end navbar */

  /* jumbotron */
  div.jumbotron {
    height: 645px;
    background: url('../img/bgHome.png');
  }

  div.search {
    float: right;
  }

  span.input-group-text {
    background: #EFEEEE;
    border-radius: 30px;
    border: none;
    padding-left: 30px;
  }

  input.form-controls {
    width: 240px;
    height: 60px;
    background: #EFEEEE;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: 600;
  }

  h1.display-4 {
    width: 570px;
    height: 140px;
    top: 207px;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 140%;
    color: #FFFFFF;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }

  p.text-jumbotron {
    width: 555px;
    height: 90px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }


  /* end jumbotron */

  /* info center */
  section.info-center {
    width: 100%;
    height: 200px;
    margin-top: -130px;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  }


  div.line-v,
  div.noline {
    height: 125px;
    margin-top: 35px;
  }

  .line-v {
    border-right: 2px solid #EEEFF2;
  }

  span.icon-people {
    position: absolute;
    left: 35%;
    top: 25%;
    background: #FFBA33;
    padding: 8px 15px;
    border-radius: 70px;
    font-size: 25px;
    color: #6A4029;
  }

  span.icon-location {
    position: absolute;
    left: 35%;
    top: 25%;
    background: #FFBA33;
    padding: 5px 15px;
    border-radius: 70px;
    font-size: 25px;
    color: #6A4029;
  }

  p.poin-people,
  p.poin-stores {
    position: absolute;
    left: 55%;
    top: 15%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
  }

  p.sts-people,
  p.sts-stores {
    position: absolute;
    left: 55%;
    top: 50%;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;
  }

  /* end info center */

  /* Product Details*/
  section.info-product {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  }

  .font-active {
    color: #6a4029
  }



  img.product-rounded {
    object-fit: cover;
    border-radius: 50%;
  }

  /* End Produc Details */

  /* start info teamwork */
  section.info-teamwork {
    /* background: #eee; */
    margin-top: -100px;
    height: 645px;
  }

  img.img-teamwork {
    position: absolute;
    width: 490px;
    top: 175px;
  }

  h2.title-teamwork {
    position: absolute;
    width: 432px;
    top: 210px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
  }

  p.info-teamwork {
    position: absolute;
    width: 427.88px;
    top: 320px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
  }

  ul.list-teamwork {
    color: #2FAB73;
    list-style: none;
    position: absolute;
    left: -22px;
    top: 400px;
  }

  li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
  }

  span.list {
    color: #4F5665;
  }

  /* end info teamwork */

  /* start favorite */
  section.favorite {
    /* background: #eee; */
    /* height: 1200px; */
  }

  h3.title-favorite {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
  }

  p.info-favorite {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
  }



  /* card */
  img.card-img-list {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    /* margin-left: 26%; */
    /* margin-top: 50px; */
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  }

  ul.list-favorite {
    color: #2FAB73;
    list-style: none;
    position: absolute;
    text-align: left;
  }

  li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
  }

  span.list-fav {
    color: #4F5665;
  }

  h3.list-idr {
    position: absolute;
    width: 135px;
    height: 30px;
    left: 25%;
    top: 630px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
  }

  button.bt-order-now {
    width: 177.88px;
    height: 45px;
    left: 18%;
    top: 690px;
    border: 2px solid #FFBA33;
    box-sizing: border-box;
    border-radius: 50px;
    color: #6A4029;
    font-family: 'Rubik';
    font-weight: 600;
  }

  /* end fovorite */

  /* visite store */
  section.visit-stores {
    /* background: #eee; */
    height: 950px;
  }

  h3.title-visit {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    text-align: center;
    margin-top: -50px;
  }

  p.info-visit-store {
    position: absolute;
    left: 295px;
    /* width: 555px; */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    text-align: center !important;
  }

  img.img-global {
    position: absolute;
    height: 537.77px;
    top: 200px;
  }

  /* end visite store */

  /* our partner */
  section.our-partner {
    height: 230px;
    text-align: center;
  }

  h3.title-ourpartner {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 30px;
    color: #000000;
  }

  /* end our partner */

  /* react customer */
  section.react-customer {}

  h3.title-react-cus {
    width: 447.81px;
    left: 345px;
    top: -50px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
  }

  p.info-react-cus {
    width: 555px;
    left: 305px;
    top: 65px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
  }

  /* card review */
  div.card-review {
    width: 360px;
    height: 230px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px 20px;
  }

  .card-review.cd-active {
    box-sizing: border-box;
    border: 2px solid #6A4029;
  }

  .card-review.cd-noactive {
    box-sizing: border-box;
    border: 2px solid #DDDDDD;
  }

  img.img-review {
    border: 1px solid #ccc;
    border-radius: 50%;
  }

  h5.card-title-review {
    width: 200px;
    height: 18px;
    left: 28%;
    top: 51%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0B132A;
  }

  h6.card-subtitle-review {
    position: absolute;
    width: 200px;
    height: 14px;
    left: 28%;
    top: 57%;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4F5665;
  }

  p.score-review {
    position: absolute;
    left: 78%;
    top: 52%;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #0B132A;
  }

  span.start-review {
    color: #FEA250;
  }

  p.card-text-review {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #0B132A;
  }

  /* dash */
  span.dash1 {
    background: #6A4029;
    padding: 0 30px;
    border: none;
    border-radius: 20px;
  }

  span.dash2 {
    background: #DDE0E4;
    padding: 0 10px;
    border: none;
    border-radius: 20px;
  }

  div.container-btn {
    float: right;
    margin-top: 5px;
  }

  button.btn-left {
    width: 45px;
    height: 45px;
    color: #6A4029;
    border: 2px solid #6A4029;
    box-sizing: border-box;
    border-radius: 50%;
  }

  .btn-left:hover {
    color: #fff !important;
    background: #6A4029;
  }

  button.btn-right {
    width: 45px;
    height: 45px;
    color: #fff;
    background: #6A4029;
    box-sizing: border-box;
    border-radius: 50%;
  }

  .btn-right:hover {
    color: #6A4029 !important;
    border: 2px solid #6A4029;
    background: none;
  }

  /* end react customer */

  /* box promo */
  section.box-promo {
    width: 1140px;
    height: 233px;
    border-radius: 10px;
    padding: 50px 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
  }

  h2.title-promo {
    height: 80px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    color: #0B132A;
  }


  /* end box promo */

  /* footer */
  section.footer {
    background: #EEE;
    height: 420px;
    font-family: 'Rubik';
  }


  img.img-footer {
    position: absolute;
    width: 30px;
    height: 33px;
  }

  h3.title-footer {
    position: absolute;
    width: 122px;
    height: 24px;
    left: 60px;
    top: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #0B132A;
  }

  p.info-footer {
    position: absolute;
    width: 340px;
    height: 61.57px;
    top: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
  }

  button.btn-fb,
  button.btn-twt,
  button.btn-ig {
    color: #6A4029;
    width: 40px;
    height: 40px;
    position: absolute;
    background: #FFBA33;
    border-radius: 50%;
    top: 160px;
  }

  .btn-twt {
    margin-left: 60px;
  }

  .btn-ig {
    margin-left: 120px;
  }

  .btn-fb:hover,
  .btn-twt:hover,
  .btn-ig:hover {
    color: #fff !important;
  }

  p.copyright {
    position: absolute;
    width: 142px;
    height: 30px;
    top: 225px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #AFB5C0;
  }

  ul.list-footer-product,
  ul.list-footer-engage {
    list-style: none;
  }

  li h6.list-info-footer {
    margin-left: -40px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
  }

  /* and footer */

  /* page signup */
  div.container-signupweb {
    overflow-x: hidden;
    height: 888px;
    font-family: 'Rubik';
  }

  img.img-signup-web {
    position: absolute;
    width: 700px;
    /* height: 1100px; */
    left: 0;
    top: 0;
  }

  button.bt-login-web {
    position: absolute;
    width: 150px;
    height: 45px;
    right: 0px;
    color: #6A4029;
    background: #FFBA33;
    border-radius: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  button.bt-login-web:hover {
    text-decoration: none;
    color: #6A4029;
    background: #fcaf16;
  }

  h2.title-signup-form {
    position: absolute;
    width: 133px;
    height: 41px;
    left: 40%;
    top: 85px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #6A4029;
  }

  label.lb-signup-email,
  label.lb-signup-pass,
  label.lb-signup-phone {
    position: absolute;
    width: 157px;
    height: 25px;
    left: 13%;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #4F5665;
  }

  input.form-signup-email,
  input.form-signup-pass,
  input.form-signup-phone {
    position: absolute;
    max-width: 900px;
    width: 80%;
    height: 55px;
    left: 13%;
    padding: 0 25px;
    background: #FFFFFF;
    border: 1px solid #4F5665;
    box-sizing: border-box;
    border-radius: 20px;
  }

  .lb-signup-email {
    left: 15%;
    top: 150px;
  }

  .form-signup-email {
    top: 180px;
  }

  .lb-signup-pass {
    left: 15%;
    top: 250px;
  }

  .form-signup-pass {
    top: 280px;
  }

  .lb-signup-phone {
    left: 15%;
    top: 350px;
  }

  .form-signup-phone {
    top: 380px;
  }

  button.btn-signup-web {
    position: absolute;
    max-width: 900px;
    width: 80%;
    height: 75px;
    left: 13%;
    top: 480px;
    background: #FFBA33;
    box-shadow: 0px 6px 20px rgba(255, 186, 51, 0.4);
    border-radius: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #6A4029;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }

  .btn-signup-web:hover {
    color: #6A4029 !important;
    background: #fcaf16;
  }

  button.bt-google {
    position: absolute;
    max-width: 900px;
    width: 80%;
    height: 75px;
    left: 13%;
    top: 585px;
    box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
    border-radius: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }

  /* end page signup */

  /* link forgot password */
  a.forgot-pass-web {
    position: absolute;
    width: 232px;
    height: 25px;
    left: 13%;
    top: 370px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    text-decoration: none;
    color: #6A4029;
  }

  .forgot-pass-web:hover {
    color: #8a563a;
    text-decoration: none;
  }

  /* button login web */
  button.btn-login-web {
    position: absolute;
    max-width: 900px;
    width: 80%;
    height: 75px;
    left: 13%;
    top: 420px;
    background: #FFBA33;
    box-shadow: 0px 6px 20px rgba(255, 186, 51, 0.4);
    border-radius: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #6A4029;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }

  .btn-login-web:hover {
    color: #6A4029 !important;
    background: #fcaf16;
  }

  button.bt-login-google {
    position: absolute;
    max-width: 900px;
    width: 80%;
    height: 75px;
    left: 13%;
    top: 520px;
    box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
    border-radius: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }

  /* end button login */

  /* box member card */
  section.member-card {
    position: absolute;
    max-width: 1500px;
    height: 160px;
    right: 10%;
    left: 5%;
    top: 780px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px 50px;
    font-family: Rubik;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  }

  h3.title-member-card {
    position: absolute;
    max-width: 580px;
    width: 80%;
    height: 80px;
    font-style: normal;
    font-size: max(1vw, 30px);
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #0B132A;
  }

  p.info-member-card {
    position: absolute;
    width: 410px;
    height: 16px;
    top: 85px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #4F5665;
  }

  button.btn-create-member {
    position: absolute;
    width: 250px;
    height: 60px;
    right: 30px;
    top: 30px;
    background: #FFBA33;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #6A4029;
  }

  .btn-create-member:hover {
    color: #6A4029 !important;
    background: #fcaf16;
  }

  .container-bars {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }

  /* ASIDE LEFT */
  aside.left {
    flex: 30%;
    text-align: center;
    /* min-width: 400px; */
    width: 400px;
    height: 1200px;
    font-family: 'Rubik';
    border-right: 1px solid #ccc;
  }

  h3.title-aside-promo {
    position: absolute;
    width: 174px;
    height: 30px;
    top: 120px;
    left: 8%;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #6A4029;
  }

  p.info-aside-promo {
    position: absolute;
    width: 231px;
    height: 36px;
    left: 6%;
    top: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
  }

  /* box menu promo */
  section.box-aside-menu {
    position: absolute;
  }

  section#aside-menu1 {
    width: 284px;
    height: 472px;
    left: 3%;
    top: 290px;
    background: #FFCB65;
    border-radius: 20px;
  }

  section#aside-menu2 {
    width: 284px;
    height: 402px;
    left: 5%;
    top: 325px;
    background: #000;
    border-radius: 20px;
  }

  section#aside-menu3 {
    width: 284px;
    height: 322px;
    left: 7%;
    top: 365px;
    background: #895537;
    border-radius: 20px;
  }

  span.icon-edit-cupon {
    position: absolute;
    padding: 5px 8px;
    background: #6A4029;
    color: #FFF;
    border-radius: 50%;
    cursor: pointer;
    top: 10px;
    right: 10px;
  }

  .icon-edit-cupon:hover {
    background: #8a563a;
  }

  img.img-aside-promo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  h3.title-menu-aside {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 101.34%;
    color: #000000;
  }

  h3.discon-menu-aside {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 101.34%;
    color: #000000;
  }

  p.info-discon-aside {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #000000;
  }

  hr.breakline {
    margin: 30px 0;
    border-bottom: 2px dashed #000;
  }

  p.title-codecupon {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 101.34%;
    color: #000000;
  }

  h2.codecupon-aside {
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    color: #000000;
  }

  p.sub-codecupon {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000
  }

  button.btn-cupon {
    width: 284px;
    height: 64px;
    color: #FFF;
    background: #6A4029;
    border-radius: 20px;
  }

  .btn-cupon:hover {
    color: #FFF !important;
    background: #8a563a;
  }

  p.msg-cupon {
    text-align: left;
    margin-top: 100px;
    font-size: 12px;
  }

  ul.list-msg-cupon {
    list-style: none;
    text-align: left;
    margin-top: -10px;
  }

  li.txt-msg-cupon {
    font-size: 12px;
    margin-left: -15px;
    line-height: 20px;
  }

  /* button admin */
  button.bt-addpromo {
    width: 284px;
    height: 80px;
    background: #FFBA33;
    border-radius: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #6A4029;
  }

  .bt-addpromo:hover {
    color: #6A4029 !important;
    background: #FFCB65;
  }

  /* end box menu promo */
  /* AND ASIDE LEFT */

  /* MAIN MENU */
  section.main-menu {
    flex: 70%;
    /* background-color: pink; */
    height: 1000px;
    overflow-x: hidden;
    padding: 30px 50px;
    font-family: 'Rubik';

  }

  span.bt-favorite {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #9F9F9F;
    cursor: pointer;
    padding: 8px 0;
  }

  span.bt-favorite.bt-active {
    color: #6A4029;
    border-bottom: 3px solid #6a4029;
  }

  span.bt-favorite:hover {
    text-decoration: none !important;
    color: #6A4029 !important;
  }

  span.bt-vcoffe,
  span.bt-vnoncoffe,
  span.bt-vfoods,
  span.bt-addon {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #9F9F9F;
    cursor: pointer;
  }

  .bt-vcoffe:hover,
  .bt-vnoncoffe:hover,
  .bt-vfoods:hover,
  .bt-addon:hover {
    text-decoration: none !important;
    color: #6A4029 !important;
  }

  /* menu */
  div.card-menu {
    width: 156px;
    height: 212px;
    background: #FFFFFF;
    box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
    border-radius: 30px;
    text-align: center;
    font-family: 'Poppins';
  }

  img.img-menus {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: -35px;
    cursor: pointer;
  }

  h5.card-title-menus {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    color: #000000;
  }

  h6.card-subtitle-menus {
    position: absolute;
    left: 50px;
    bottom: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    color: #6A4029;
  }


  /* end menu */

  section.button-add {
    position: absolute;
    top: 1130px;
    left: 30%;
    right: 0;
    background: none;
    height: 120px;
    overflow: hidden;
    /* width: 800px; */
  }

  /* button new product */
  button.btn-add-new-product {
    position: absolute;
    width: 729px;
    height: 90px;
    left: 10%;
    top: 15px;
    background: #6A4029;
    border-radius: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
  }

  .btn-add-new-product:hover {
    color: #FFFFFF !important;
    background: #8a563a;
  }

  /* end MAIN MENU */
}

.shadowText {
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

button.bt-start {
  background: #FFBA33;
  border-radius: 10px;
  width: 250px;
  height: 60px;
  color: #6A4029;
  font-weight: 700;
}

button.bt-start:hover {
  color: #6A4029;
}

.fw-500 {
  font-weight: 500;
}

.lh-140 {
  line-height: 140%;
}


button.btn-promo {
  width: 250px;
  height: 60px;
  background: #FFBA33;
  border-radius: 10px;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #6A4029;
  margin-top: 30px;
}

.btn-promo:hover {
  color: #6A4029;
  background: #fcaf16;
}

button.btn-brown {
  background: #6A4029;
  color: #fff;
  font-family: 'Poppins';
  font-weight: bold;
}


.font-rubik {
  font-family: 'Rubik';
}

.font-poppins {
  font-family: 'Poppins';
}

button.btn-yellow {
  background: #FFBA33;
  color: #6A4029;
  font-family: 'Poppins';
  font-weight: bold;
} 


button.btn-black {
  background: #000;
  color: #fff;
  font-family: 'Poppins';
  font-weight: bold;
}

.brown {
  color: #6A4029;
}

.bg-gray {
  background: #F2F2F2
}
.center-cropped {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 18vh;
  width: 18vh;
  border-radius:25px
}

  span.icon-edit-menus {
    position: absolute;
    padding: 5px 8px;
    background: #6A4029;
    color: #FFF;
    border-radius: 50%;
    cursor: pointer;
    /* top: 10px; */
    right: 35px;
    bottom: -15px;
  }

  .icon-edit-menus:hover {
    background: #8a563a;
  }

  /* Hidden Scrollbar */
.hideScroll::-webkit-scrollbar {
  oveflow-y:scroll;
  display: none;
}
.hideScroll {
  oveflow-y:scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}