@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-font/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-font/Rubik-Medium.ttf');
}

/* view web 992 */
@media (min-width: 576px) and (max-width: 1440px) {

  /* hide page mobile */
  div.mobile {
    display: none;
  }

  body {
    /* position: relative; */
    height: 5189px;
    background: #FFFFFF;
    border-radius: 20px;
    /* background: #EDEDED !important; */
    font-family: 'Rubik';
  }

  /* navbar */
  .navbar.navbar-expand-lg {
    background: #fff;
    height: 100px;
  }

  .navbar-brand {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #0B132A;
  }

  .navbar-brand:hover {
    color: #6A4029;
  }

  img.img-navbar {
    width: 30px;
    margin-right: 10px;
  }

  .nav-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #4F5665;
    margin-right: 20px;
  }

  .nav-link:hover {
    color: #fc5800;
  }

  .nav-link.active {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    color: #6A4029;
  }

  button.bt-login {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #0B132A;
  }

  button.bt-login:hover {
    text-decoration: none;
    color: #6A4029;
  }

  button.bt-signup {
    font-weight: 500;
    padding: 8px 30px;
    border-radius: 50px;
  }

  /* end navbar */

  /* jumbotron */
  div.jumbotron {
    height: 645px;
    background: url('../img/bgHome.png');
  }

  div.search {
    float: right;
  }

  span.input-group-text {
    background: #EFEEEE;
    border-radius: 30px;
    border: none;
    padding-left: 30px;
  }

  input.form-controls {
    width: 240px;
    height: 60px;
    background: #EFEEEE;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: 600;
  }

  h1.display-4 {
    width: 570px;
    height: 140px;
    top: 207px;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 140%;
    color: #FFFFFF;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }

  p.text-jumbotron {
    width: 555px;
    height: 90px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }

  button.bt-start {
    background: #FFBA33;
    border-radius: 10px;
    width: 250px;
    height: 60px;
    color: #6A4029;
    font-weight: 700;
  }

  button.bt-start:hover {
    color: #6A4029;
  }

  /* end jumbotron */

  /* info center */
  section.info-center {
    width: 100%;
    height: 200px;
    margin-top: -130px;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }

  div.line-v,
  div.noline {
    height: 125px;
    margin-top: 35px;
  }

  .line-v {
    border-right: 2px solid #EEEFF2;
  }

  span.icon-people {
    position: absolute;
    left: 35%;
    top: 25%;
    background: #FFBA33;
    padding: 8px 15px;
    border-radius: 70px;
    font-size: 25px;
    color: #6A4029;
  }

  span.icon-location {
    position: absolute;
    left: 35%;
    top: 25%;
    background: #FFBA33;
    padding: 5px 15px;
    border-radius: 70px;
    font-size: 25px;
    color: #6A4029;
  }

  p.poin-people,
  p.poin-stores {
    position: absolute;
    left: 55%;
    top: 15%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
  }

  p.sts-people,
  p.sts-stores {
    position: absolute;
    left: 55%;
    top: 50%;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;
  }

  /* end info center */

  /* start info teamwork */
  section.info-teamwork {
    /* background: #eee; */
    margin-top: -100px;
    height: 645px;
  }

  img.img-teamwork {
    position: absolute;
    width: 490px;
    top: 175px;
  }

  h2.title-teamwork {
    position: absolute;
    width: 432px;
    top: 210px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
  }

  p.info-teamwork {
    position: absolute;
    width: 427.88px;
    top: 320px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
  }

  ul.list-teamwork {
    color: #2FAB73;
    list-style: none;
    position: absolute;
    left: -22px;
    top: 400px;
  }

  li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
  }

  span.list {
    color: #4F5665;
  }

  /* end info teamwork */

  /* start favorite */
  section.favorite {
    /* background: #eee; */
    height: 1200px;
  }

  h3.title-favorite {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
  }

  p.info-favorite {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
  }

  div.card {
    position: absolute;
    height: 800px;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
  }

  /* card */
  img.card-img-list {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin-left: 26%;
    margin-top: 50px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  }

  ul.list-favorite {
    color: #2FAB73;
    list-style: none;
    position: absolute;
    text-align: left;
  }

  li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
  }

  span.list-fav {
    color: #4F5665;
  }

  h3.list-idr {
    position: absolute;
    width: 135px;
    height: 30px;
    left: 25%;
    top: 630px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
  }

  button.bt-order-now {
    position: absolute;
    width: 177.88px;
    height: 45px;
    left: 18%;
    top: 690px;
    border: 2px solid #FFBA33;
    box-sizing: border-box;
    border-radius: 50px;
    color: #6A4029;
    font-family: 'Rubik';
    font-weight: 600;
  }

  /* end fovorite */

  /* visite store */
  section.visit-stores {
    /* background: #eee; */
    height: 950px;
  }

  h3.title-visit {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    text-align: center;
    margin-top: -50px;
  }

  p.info-visit-store {
    position: absolute;
    left: 295px;
    /* width: 555px; */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    text-align: center !important;
  }

  img.img-global {
    position: absolute;
    height: 537.77px;
    top: 200px;
  }

  /* end visite store */

  /* our partner */
  section.our-partner {
    height: 230px;
    text-align: center;
  }

  h3.title-ourpartner {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 30px;
    color: #000000;
  }

  /* end our partner */

  /* react customer */
  section.react-customer {
    background: #ccc;
    height: 300px;
    /* text-align: center; */
  }

  h3.title-react-cus {
    position: absolute;
    width: 447.81px;
    left: 345px;
    top: -50px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
  }

  p.info-react-cus {
    position: absolute;
    width: 555px;
    left: 305px;
    top: 65px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
  }

  /* end react customer */
}

/* mobile web */
@media (max-width: 576px) {
  div.website {
    display: none;
  }

  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDEDED !important;
    font-family: 'Poppins';
  }

  /* start welcome */
  section.m-welcome {
    height: 896px;
    width: 414px;
    text-align: center;
    border: 1px solid #000;
  }

  h2.m-title {
    position: absolute;
    /* width: 325px;
    height: 112px; */
    left: 0;
    top: 112px;
    font-weight: 700;
    font-style: normal;
    font-size: 65px;
    line-height: 86%;
    color: #000;
  }

  img.m-img1 {
    position: absolute;
    width: 433px;
    height: 481px;
    left: 20px;
    top: 258px;
  }

  button.btn-start {
    position: absolute;
    width: 352px;
    height: 70px;
    left: 66px;
    top: 772px;
    color: #fff;
    background: #6A4029;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
  }

  button.btn-start:hover {
    color: #fff;
    background: #8a563a;
  }

  /* end welcome */

  /* signup */
  div.container-signup {
    background-image: url('../img/img2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
  }

  div.bg-signup {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5)
  }

  section.m-signup {
    height: 896px;
    width: 414px;
    text-align: center;
    border: 1px solid #000;
  }

  h2.title-signup {
    position: absolute;
    width: 329px;
    height: 56px;
    left: 75px;
    top: 140px;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 65px;
    line-height: 86%;
    letter-spacing: -0.03em;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  }

  p.p-signup {
    position: absolute;
    width: 282px;
    height: 52px;
    left: 105px;
    top: 213px;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  }

  button.btn-create {
    position: absolute;
    width: 352px;
    height: 70px;
    left: 66px;
    top: 685px;
    color: #fff;
    background: #6A4029;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
  }

  button.btn-create:hover {
    color: #fff;
    background: #8a563a;
  }

  button.btn-login {
    position: absolute;
    width: 352px;
    height: 70px;
    left: 66px;
    top: 772px;
    color: #000;
    background: #FFBA33;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
  }

  button.btn-login:hover {
    background: #fcaf16;
  }

  /* end signup */

  /* start signup form */
  div.container-signup-form {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDEDED !important;
    font-family: 'Poppins';
  }

  section.m-signup-form {
    height: 896px;
    width: 414px;
    text-align: center;
    border: 1px solid #000;
  }

  h2.title-signup-form {
    position: absolute;
    width: 146px;
    height: 112px;
    left: 250px;
    top: 188px;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 90%;
    letter-spacing: -0.03em;
    color: #000000;
    text-align: left;
  }

  img.img-signup-form {
    position: absolute;
    width: 301px;
    height: 286px;
    left: 90px;
    top: 150px;
  }

  input.form-m-email,
  input.form-m-password,
  input.form-m-phone {
    background: none;
    padding: 21px 5px;
    border: none;
    border-bottom: 2px solid #9F9F9F;
    color: #585858;
    font-size: 14px;
  }

  .form-m-email {
    position: absolute;
    width: 75%;
    height: 21px;
    left: 60px;
    top: 491px;
  }

  .form-m-password {
    position: absolute;
    width: 75%;
    height: 21px;
    left: 60px;
    top: 546px;
  }

  .form-m-phone {
    position: absolute;
    width: 75%;
    height: 21px;
    left: 60px;
    top: 601px;
  }

  button.btn-create-account {
    position: absolute;
    width: 352px;
    height: 70px;
    left: 66px;
    top: 695px;
    color: #fff;
    background: #6A4029;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
  }

  button.btn-create-account:hover {
    color: #fff;
    background: #8a563a;
  }

  /* end signup form */

  /* start signin form */
  div.container-signin {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDEDED !important;
    font-family: 'Poppins';
  }

  section.m-sign-form {
    height: 896px;
    width: 414px;
    text-align: center;
    border: 1px solid #000;
  }

  h2.title-signin-form {
    position: absolute;
    width: 120px;
    height: 112px;
    left: 222px;
    top: 201px;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 86.84%;
    /* or 56px */
    letter-spacing: -0.03em;
    color: #000000;
    text-align: left;
  }

  img.img-m-signin {
    position: absolute;
    width: 165px;
    height: 328px;
    left: 90px;
    top: 93px;
  }

  input.login-m-email,
  input.login-m-password {
    background: none;
    padding: 21px 5px;
    border: none;
    border-bottom: 2px solid #9F9F9F;
    color: #585858;
    font-size: 14px;
  }

  .login-m-email {
    position: absolute;
    width: 75%;
    height: 21px;
    left: 60px;
    top: 471px;
  }

  .login-m-password {
    position: absolute;
    width: 75%;
    height: 21px;
    left: 60px;
    top: 526px;
  }

  a.forgot-pass {
    position: absolute;
    width: 120px;
    height: 18px;
    left: 60px;
    top: 600px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #895537;
  }

  .forgot-pass:hover {
    color: #ad6134;
  }

  button.btn-login-form {
    position: absolute;
    width: 352px;
    height: 70px;
    left: 66px;
    top: 650px;
    color: #fff;
    background: #6A4029;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
  }

  button.btn-login-form:hover {
    color: #fff;
    background: #8a563a;
  }

  .hr-line-l {
    position: absolute;
    width: 87px;
    height: 0px;
    left: 80px;
    top: 729px;
    border-bottom: 1px solid #9A9A9D;
  }

  .hr-line-r {
    position: absolute;
    width: 87px;
    height: 0px;
    left: 310px;
    top: 729px;
    border-bottom: 1px solid #9A9A9D;
  }

  p.or-login {
    position: absolute;
    /* width: 102px; */
    height: 21px;
    left: 190px;
    top: 735px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #9A9A9D;
  }

  button.btn-login-google {
    position: absolute;
    width: 352px;
    height: 70px;
    left: 66px;
    top: 773px;
    background: #FFF;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
  }

  .btn-login-google:hover {
    background: rgba(255, 255, 255, 0.7);
  }

  /* end signin form */
}